body{
    background-color: #151E3F;
    display: flex;
    justify-content: center;
    font-family: "Nunito";
    margin: 0 auto;
}

#root{
    width: 100%;
}

/* #region Navbar */

.header{
    background-color: #151E3F;
    min-height: 100px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
    box-shadow: 0px 0px 25px #d9c5b2;
    border-bottom: 2px solid #f3f3f4;
    border-radius: 10px;
}

.title{
    /* border: 1px solid orange; */
    color: #f3f3f4;
    margin-left: 10px;
}

.navbar{
    /* border: 1px solid yellow; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.navlink, .navlink-game{
    color: #f3f3f4;
    /* border: 1px solid green; */
    font-size: 1.75rem;
    text-decoration: none;
    padding-block: 10px;
}

.navlink-game{
    padding-inline: 25px;
    /* border: 1px solid red; */
    background-color: #034732;
    border-radius: 10px;
}

/* #endregion */

/* #region Cat */

:root{
    --cat-height: 1000px;
    --cat-color: #33292b;
}

.container{
    height: calc(var(--cat-height)*0.55);
    width: calc(var(--cat-height)*0.55);
    position: relative;
    margin-inline: auto;
    margin-top: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.cat{
    position: relative;
    top: 75px;
    left: 50px;
}

.face{
    background-color: var(--cat-color);
    height: calc(var(--cat-height)*0.18);
    width: calc(var(--cat-height)*0.3);
    border-radius: calc(var(--cat-height)*0.06);
}

.ear-l, .ear-r{
    width: 0;
    height: 0;
    border-bottom: calc(var(--cat-height)*0.1) solid var(--cat-color);
    border-left: calc(var(--cat-height)*0.04) solid transparent;
    border-right: calc(var(--cat-height)*0.04) solid transparent;
    position: relative;
    z-index: -1;
}

.ear-l{
    bottom: calc(var(--cat-height)*0.07);
    transform: rotate(-30deg);
    animation: ears-animation-l;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.ear-r{
    bottom: calc(var(--cat-height)*0.17);
    left: calc(var(--cat-height)*0.22);
    transform: rotate(30deg);
    animation: ears-animation-r;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.inner1{
    width: 0;
    height: 0;
    border-bottom: calc(var(--cat-height)*0.1) solid #d36149;
    border-left: calc(var(--cat-height)*0.05) solid transparent;
    right: calc(var(--cat-height)*0.05);
    position: relative;
}

.inner2{
    width: 0;
    height: 0;
    border-bottom: calc(var(--cat-height)*0.1) solid #d36149;
    border-right: calc(var(--cat-height)*0.05) solid transparent;
    position: relative;
}

.eye-l, .eye-r{
    background-color: #35D038;
    height: calc(var(--cat-height)*0.06);
    width: calc(var(--cat-height)*0.06);
    border-radius: 50%;
    position: relative;
}

.eye-l{
    bottom: calc(var(--cat-height)*0.15);
    left: calc(var(--cat-height)*0.06);
}

.eye-r{
    bottom: calc(var(--cat-height)*0.21);
    left: calc(var(--cat-height)*0.18);
}

.eyeball{
    background-color: #262626;
    height: calc(var(--cat-height)*0.035);
    width: calc(var(--cat-height)*0.035);
    border-radius: 50%;
    position: relative;
    top: calc(var(--cat-height)*0.02);
    left: calc(var(--cat-height)*0.02);
    animation: eyeball-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.nose{
    height: 0;
    width: 0;
    border-top: calc(var(--cat-height)*0.016) solid #d36149;
    border-left: calc(var(--cat-height)*0.014) solid transparent;
    border-right: calc(var(--cat-height)*0.014) solid transparent;
    position: relative;
    bottom: calc(var(--cat-height)*0.22);
    left: calc(var(--cat-height)*0.136);
}

.l1, .l2{
    background-color: #d36149;
    height: calc(var(--cat-height)*0.016);
    width: calc(var(--cat-height)*0.002);
    position: relative;
}

.l1{
    transform: rotate(45deg);
    right: calc(var(--cat-height)*0.008);
    bottom: calc(var(--cat-height)*0.002);
}

.l2{
    transform: rotate(-45deg);
    bottom: calc(var(--cat-height)*0.02);
    left: calc(var(--cat-height)*0.006);
}

.body{
    background-color: var(--cat-color);
    height: calc(var(--cat-height)*0.24);
    width: calc(var(--cat-height)*0.26);
    position: relative;
    left: calc(var(--cat-height)*0.06);
    bottom: calc(var(--cat-height)*0.01);
    border-radius: 0 calc(var(--cat-height)*0.13) 0 0;
}

.paw-l, .paw-r{
    background-color: var(--cat-color);
    height: calc(var(--cat-height)*0.02);
    width: calc(var(--cat-height)*0.044);
    position: relative;
    border-radius: 0 0 calc(var(--cat-height)*0.02) calc(var(--cat-height)*0.02);
}

.paw-l{
    top: calc(var(--cat-height)*0.24);
}

.paw-r{
    top: calc(var(--cat-height)*0.22);
    left: calc(var(--cat-height)*0.1);
}

.tail{
    background-color: var(--cat-color);
    width: calc(var(--cat-height)*0.2);
    height: calc(var(--cat-height)*0.04);
    position: relative;
    top: calc(var(--cat-height)*0.16);
    left: calc(var(--cat-height)*0.2);
    border-radius: 0 calc(var(--cat-height)*0.04) calc(var(--cat-height)*0.04) 0;
    animation: tail-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.shadow{
    background-color: rgba(8,8,8,0.05);
    height: calc(var(--cat-height)*0.06);
    width: calc(var(--cat-height)*0.3);
    border-radius: 50%;
    position: relative;
    bottom: calc(var(--cat-height)*0.03);
    left: calc(var(--cat-height)*0.04);
    z-index: -1;
}

@keyframes ears-animation-l {
    from {
        bottom: calc(var(--cat-height)*0.07);
    }
    to {
        bottom: calc(var(--cat-height)*0.06);
    }
    
}

@keyframes ears-animation-r {
    from {
        bottom: calc(var(--cat-height)*0.17);
    }
    to {
        bottom: calc(var(--cat-height)*0.16);
    }
    
}

@keyframes eyeball-animation {
    from {
        left: 0;
    }

    to {
        left: calc(var(--cat-height)*0.02);
    }
}

@keyframes tail-animation {
    from {
        left: calc(var(--cat-height)*0.19);
    }
    
    to {
        left: calc(var(--cat-height)*0.21);
    }
}

/* #endregion */

/* #region Home Page */

.main-home{
    display: flex;
    margin: 25px;;
}

.info-home{
    width: 45%;
    margin-block: 15px;
    margin-inline: 10px;
    background-color: #d9c5b2;
    border: 25px solid #f3f3f4;
    border-radius: 15px;
    color: black;
    padding: 20px;
    height: fit-content;
    font-family: "Nothing You Could Do";
}

.info-home--title{
    font-size: 2.5rem;
}

.info-home--text{
    font-size: 1.5rem;
}

/* #endregion */

/* #region Login Page*/

.main-login{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-inline: 50px
}

.message-login{
    color: black;
    font-size: 1.5rem;
    font-family: "Nothing You Could Do";
    margin: 0 auto;
}

.message-login--p{
    background-color: #d9c5b2;
    border: 10px solid #f3f3f4;
    border-radius: 15px;
    margin-top: 50px;
    margin-inline: auto;
    padding: 15px;
    width: 75%;
}

.formContainer-login{
    background-color: #f3f3f4;
    width: 55%;
    height: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-block: 50px;
}

.form-login{
    background-color: #d9c5b2;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.form-login--title{
    color: #151E3F;
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: 10px;
}

.form-login--label{
    font-size: 1.5rem;
    color: #151E3F;
    font-weight: 700;
    margin-block: 10px;
}

.form-login--input{
    min-height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f4;
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-indent: 15px;
}

.form-login--input:focus{
    outline: none;
}

.form-login--button{
    width: 85%;
    height: 55px;
    background-color: #034732;
    color: #f3f3f4;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    margin-block: 45px;
}

.form-login--button:active{
    transform: scale(0.98);
}

.form-login--persistCheck {
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.form-login--persistCheck label {
    margin: 0;
    margin-left: 5px;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

/* #endregion */

/* #region Dashboard Style */

.main-dashboard{
    color: #f3f3f4;
    display: flex;
    justify-content: space-around;
    margin: 25px
}

.notes-dashboard{
    width: 95%;
    border-radius: 15px;
}

.allNotes-dashboard{
    width: 50%;
    margin-top: 15px;
}

.notes-dashboard--note{
    border-radius: 15px;
    border: 5px solid #d9c5b2;
    margin-block: 20px;
    padding: 15px;
}

.notes-dashboard--title{
    font-size: 1.5rem;
}

.notes-dashboard--noteMeta{
    display: flex;
    font-size: 1rem;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.notes-dashboard--body{
    width: 75%;
}

.notes-dashboard--editButton{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #151E3F;
    border: 1px solid #f3f3f4;
    margin-bottom: 5px;
}

.notes-dashboard--editButtonIcon{
    width: 20px;
    height: 20px;
    color: #f3f3f4;
}

.notes-dashboard--deleteButton{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #151E3F;
    border: 1px solid #f3f3f4;
}

.notes-dashboard--deleteButtonIcon{
    width: 20px;
    height: 20px;
    color: #f3f3f4;
}

.notes-dashboard--createButton{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #034732;
    border: 2px solid #f3f3f4;
}

.notes-dashboard--createButtonIcon{
    width: 40px;
    height: 40px;
    color: #f3f3f4;
}

/* #endregion */

/* #region EditNote Page */

.main-edit{
    display: flex;
    justify-content: center;
}

.section-edit{
    background-color: #f3f3f4;
    width: 500px;
    min-height: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-block: 40px;
}

.form-edit{
    background-color: #d9c5b2;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.form-edit--title{
    color: #151E3F;
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: 10px;
}

.form-edit--label{
    font-size: 1.5rem;
    color: #151E3F;
    font-weight: 700;
    margin-block: 10px;
}

.form-edit--input{
    min-height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f4;
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-indent: 15px;
}

.form-edit--input:focus{
    outline: none;
}

.form-edit--textarea{
    min-height: 250px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f4;
    font-size: 1.25rem;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: "Nunito";
}

.form-edit--button{
    width: 75%;
    height: 55px;
    background-color: #034732;
    color: #f3f3f4;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    margin-block: 45px;
}

.form-edit--button:active{
    transform: scale(0.98);
}

.form-edit--shared{
    font-size: 1.1rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.form-edit--shared label {
    margin: 0;
    margin-left: 5px;
    color: #151E3F
}

/* #endregion */

/* #region CreateNote Page */

.main-create{
    display: flex;
    justify-content: center;
}

.section-create{
    background-color: #f3f3f4;
    width: 500px;
    min-height: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-block: 40px;
}

.form-create{
    background-color: #d9c5b2;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
}

.form-create--title{
    color: #151E3F;
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: 10px;
}

.form-create--label{
    font-size: 1.5rem;
    color: #151E3F;
    font-weight: 700;
    margin-block: 10px;
}

.form-create--input{
    min-height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f4;
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-indent: 15px;
}

.form-create--input:focus{
    outline: none;
}

.form-create--textarea{
    min-height: 250px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f4;
    font-size: 1.25rem;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: "Nunito";
}

.form-create--button{
    width: 75%;
    height: 55px;
    background-color: #034732;
    color: #f3f3f4;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    margin-block: 45px;
}

.form-create--button:active{
    transform: scale(0.98);
}

.form-create--shared{
    font-size: 1.1rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.form-create--shared label {
    margin: 0;
    margin-left: 5px;
    color: #151E3F
}

/* #endregion */

/* #region DeleteNote Page */

.main-delete{
    display: flex;
    justify-content: center;
}

.section-delete{
    background-color: #f3f3f4;
    width: 500px;
    min-height: 700px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-block: 40px;
}

.prompt-delete{
    background-color: #d9c5b2;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
}

.subtitle-delete{
    font-size: 1.25rem;
    margin-block: 0px;
}

.content-delete{
    font-size: 1rem;
    background-color: #f3f3f4;
    padding-inline: 10px;
    padding-block: 20px;
    border-radius: 10px;
}

.buttonSection-delete{
    display: flex;
    justify-content: space-around;
}

.deleteButton-delete{
    background-color: #6e0f0f;
    color: #f3f3f4;
    padding-block: 10px;
    padding-inline: 30px;
    font-size: 1.25rem;
    border: none;
    border-radius: 15px;
}

.goBackButton-delete{
    background-color: #034732;
    color: #f3f3f4;
    padding-block: 10px;
    padding-inline: 30px;
    font-size: 1.25rem;
    border: none;
    border-radius: 15px;
}

/* #endregion */

/* #region TreatGame Page */

.main-game{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-block: 75px;
}

.gameArea-game{
    width: 45%;
    margin-inline: 30px;
    /* margin-top: 75px; */
    display: flex;
    flex-direction: column;
}

.gameArea-game--message{
    color: black;
    font-family: "Nothing You Could Do";
    font-size: 1.5rem;
    background-color: #d9c5b2;
    padding: 30px;
    border-radius: 20px;
    border: 10px solid #f3f3f4;
    white-space: pre-line;
    margin: 50px auto;
    width: 85%;
}

.gameArea-game--button{
    width: 65%;
    height: 55px;
    background-color: #034732;
    color: #f3f3f4;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    margin-inline: auto;
}

.gameArea-game--buttonSection{
    display: flex;
    justify-content: space-around;
}

.gameArea-game--addButton{
    padding-block: 20px;
    padding-inline: 20px;
    background-color: #034732;
    color: #f3f3f4;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.gameArea-game--removeButton{
    padding-block: 20px;
    padding-inline: 20px;
    background-color: #6e0f0f;
    color: #f3f3f4;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.gameArea-game--stopButton{
    padding-block: 20px;
    padding-inline: 20px;
    background-color: #a76e04;
    color: #f3f3f4;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.gameArea-game--bowl{
    position: relative;
    margin: 150px auto;
    width: 170px;
    height: 70px;
    background-color: #D29003;
    border-radius: 4px 4px 150px 150px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
.gameArea-game--bowl:after{
    content: '';
    position: absolute;
    display: block;
    width: 190px;
    height: 10px;
    background-color: #A16E02;
    border-radius: 6px;
    top: 0px;
    left: -10px;
}

.gameArea-game--bowl p{
    font-size: 2rem;
    font-weight: 700;
    color: #151E3F;
}

.gameArea-game--barf{
    width: 180px;
    height: 60px;
    border-radius: 35px;
    background-color: #A16E02;
    margin-block: 25px;
    align-items: center;
    margin: 75px auto;
    position: relative;
    z-index: -10;
}

.gameArea-game--barf::after, .gameArea-game--barf::before{
    content: '';
    background-color: #A16E02;
    border-radius: 30px;
    width: 180px;
    height: 60px;
    transform: rotate(60deg);
    z-index: -1;
    position: absolute;
}

.gameArea-game--barf::after{
    transform: rotate(-60deg);
    z-index: -10;
}

/* #endregion */